.wrapper{
  width: 300px;
  height: 100px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: fixed;
  bottom: 20px;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  font-size: 30px;
  padding: 20px;
  color: orange;
  justify-content: space-around;
  z-index: 20;
}
svg:hover{
  scale: 1.5;
}
@media screen and (max-width: 700px){
  .wrapper{
    width: 200px;
    /* left: 40%; */
  }
}
